<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/my-style.css" rel="stylesheet">
	<title>Digital Art Gallery</title>
</head>
<body>
	<div>
		<span th:text="#{artworkname.message}+${artwork.nome}"> Nome opera</span>
		<span><a th:href="@{'/authorDetails' + '/' + ${artwork.autore.id}}" th:text="${artwork.autore.nome}+' '+${artwork.autore.cognome}">
				Nome autore che ha realizzato l'opera</a></span>
		<span><a th:href="@{'/collectionDetails' + '/' + ${artwork.collezione.id}}" th:text="#{artworkincollection.message}+${artwork.collezione.nome}"></a></span>
	</div>
	
</body>
</html>
