<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/showcontent.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery - Artworks</title>
</head>

<body>

	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-white">
				<div class="white"><a class="white link-on-white" th:href="@{/default}">Personal page</a></div>
			</div>
			<div class="grid-item-blue">
			</div>
		</div>
		<div class="grid-container-two">
			<div class="grid-item-yellow">
				<h1 class="yellow" th:text="#{artworkslist.message}">Artworks</h1>
				<h2 class="yellow" th:text="#{artworkdetailshover.message}"></h2>
				<ul class="yellow-paragraph">
					<li class="yellow" th:each="artwork : ${artworks}">
						<a class="yellow link-on-yellow" th:href="@{'/artworkDetails' + '/' + ${artwork.id}}"
							th:text="${artwork.nome}"></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="grid-container-three">
			<div class="grid-item-white">
			</div>
			<div class="grid-item-red">
			</div>
			<div class="grid-subcontainer-one">
				<div class="grid-item-white">
					<div class="white">
						<br>
						Designed and built by <br>
						<a class="white link-on-white" href="https://www.kevinsantodonato.it/">Kevin Santodonato</a>
						<br>
						& <br>
						<a class="white link-on-white" href="https://www.davidetedesco.it/">Davide Tedesco</a>
					</div>
				</div>
				<div class="grid-item-gray">
				</div>
			</div>

		</div>

	</div>
</body>

</html>