<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/insertion.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery - Editing artwork grade</title>
</head>

<body>

	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-white">
				<div class="white"><a class="white link-on-white" th:href="@{/default}" th:text="#{personalpage.message}">Personal page</a></div>
			</div>
			<div class="grid-item-gray">
			</div>
		</div>

		<div class="grid-container-two">
			<div class="grid-item-red">
				<h2 class="red" th:text="#{modifyvote}">Modifica il voto da te inserito</h2>
			</div>
			<div class="grid-item-blue">
				<div class="blue">
				<br>
					<div class="blue" th:text="#{artworkname.message}+' '+${artwork.nome}"> Nome opera</div>
					<div class="blue"><!--<a class="blue link-on-blue"
							th:href="@{'/authorDetails' + '/' + ${artwork.autore.id}}"
							th:text="${artwork.autore.nome}+' '+${artwork.autore.cognome}">
							Nome autore che ha realizzato l'opera</a>-->
							</div>
						<div class="blue" th:if="${artwork.collezione != null}">
							<!--<span class="blue" th:text="#{artworkincollection.message}+' '"></span>
							<a class="blue link-on-blue"
								th:href="@{'/collectionDetails' + '/' + ${artwork.collezione.id}}"
								th:text="${artwork.collezione.nome}">Pippo</a>-->
						</div>
						<br>
						<img class="blue" th:alt="${artwork.immagine}"
							th:src="@{'https://digital-art-gallery.s3.eu-west-3.amazonaws.com' + '/' +  ${artwork.immagine}}"
							width="50%">
				</div>
				<form th:action="@{/editVoto/{id}(id=${voto.id})}" method="POST" th:object="${voto}">
					<div class="blue">
						<label class="blue"><input class="blue input" type="text" required
								th:field="*{valutazione}"></label>
					</div>

					<div class="blue">
						<br>
						<button class="button" type="submit" th:text="#{confirm.button}">Confirm</button>
					</div>
				</form>
				<div class="blue">
					<a class="blue link-on-blue" th:href="@{'/artworkDetails' + '/' + ${artwork.id}}" th:text="#{abort.message}">Abort</a>
				</div>
				<br>
			</div>
			<div class="grid-item-yellow">
			</div>
		</div>

		<div class="grid-container-three">
			<div class="grid-item-yellow">
			</div>
			<div class="grid-item-white">
				<br>
				Designed and built by <br>
				<a class="white link-on-white" href="https://www.kevinsantodonato.it/">Kevin Santodonato</a> <br>
				and <br>
				<a class="white link-on-white" href="https://www.davidetedesco.it/">Davide Tedesco</a>
			</div>
		</div>

	</div>

</body>

</html>