<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/my-style.css" rel="stylesheet">
<title>Digital Art Gallery</title>
</head>
<body>
	<div>
		<form th:action="@{/votazione/{id} (id=${artwork.id})}" method="POST"
			th:object="${voto}">
			<div>
				<label><input type="text" required th:field="*{valutazione}"></label>
			</div>
			<div>
				<button type="submit">Confirm</button>
			</div>
		</form>
		<img th:alt="${artwork.immagine}"
			th:src="@{'https://digital-art-gallery.s3.eu-west-3.amazonaws.com' + '/' +  ${artwork.immagine}}"
			width="50%">
	</div>

	<div>
		<a th:href="@{'/artworkDetails' + '/' + ${artwork.id}}">Abort</a>
	</div>
</body>
</html>
