<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/error.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">	
	<title>Digital Art Gallery - error</title>
</head>

<body>

	<div class="grid-megacontainer">

		<div class="grid-item-red">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>

		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-red">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
			<br>
			<br>
			<br>
			<div class="white" th:text="#{error.message}">erroretesto</div>
			<div class="white"><a class="white link-on-white" th:href="@{/index}"th:text="#{home.message}">home</a></div>
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>

		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-red">

		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>

		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-red">
		</div>

	</div>


</body>

</html>