<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/index.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery</title>
</head>

<body>
	<div class="grid-megacontainer">

		<div class="grid-container-one">
			<div class="grid-item-white">
				<h1 class="white">
					Digital Art Gallery
				</h1>
				<br>
				<p class="white-paragraph" th:text="#{aboutus.message}">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, tortor eget fermentum ornare,
					libero risus mattis lectus, in tristique ligula magna at nisi. Nunc augue sem, interdum non mi vel,
					pharetra consequat dolor. Vivamus quis arcu sed risus vulputate rutrum sodales eget augue. Cras
					vitae massa ullamcorper, accumsan arcu at, tincidunt erat. Proin ac lorem aliquet neque tempor
					fermentum. Donec vulputate velit quam, eget gravida turpis consectetur ac. Sed vitae mauris et risus
					tempus finibus. Nullam tincidunt ac eros eu faucibus. Mauris sagittis quam a sem tempus, vitae
					lobortis felis dignissim. Vestibulum purus tellus, pharetra nec turpis a, vehicula dignissim odio.
					Nullam varius augue quis felis dignissim bibendum. Donec luctus odio at odio pretium, a gravida
					felis consequat. Praesent at tellus eu quam fringilla hendrerit ac at lectus. Sed imperdiet urna ut
					mi dignissim sodales. Quisque viverra arcu nec orci sodales vestibulum. Sed vel nunc vulputate,
					elementum lectus at, congue sem.
				</p>
			</div>

			<div class="grid-item-blue">
				<h2 class="blue">Contacts</h2>
				<div class="blue">
					E-mail:<a class="blue link-on-blue" href="mailto:info@digitalartgallery.com">info@digitalartgallery.com</a>
				</div>
				<div class="blue">
					Phone: 0044 0848 44 66 88
				</div>
				<div class="blue">
					London - New York - Genève - Milan
				</div>
				<div class="blue">
					VAT ID: 86334519757
				</div>
			</div>


		</div>

		<div class="grid-container-two">

			<div class="grid-item-yellow">
				<h2 class="yellow">Reserved Area</h2>
				<div class="yellow"><a class="yellow link-on-yellow" th:href="@{/login}">login</a></div>
				<div class="yellow"><a class="yellow link-on-yellow" th:href="@{/register}">register</a></div>
			</div>

			<div class="grid-item-red">
				<div class="red">
					<br>
					Designed and built by <br>
					<a class="red link-on-red" href="https://www.kevinsantodonato.it/">Kevin Santodonato</a> <br>
					& <br>
					<a class="red link-on-red" href="https://www.davidetedesco.it/">Davide Tedesco</a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>