<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/error.css" rel="stylesheet">
	<title>Digital Art Gallery - error in login page</title>
</head>

<body>

	<div class="grid-megacontainer">

		<div class="grid-item-yellow">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>

		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>

		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-red">

		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">

		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-white">
		</div>
		<div class="grid-item-yellow">
		</div>

	</div>


</body>

</html>