<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/register.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery - Register page</title>
</head>

<body>
	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-red">
				<h3 class="red"><a class="red link-on-red" th:href="@{/index}">Home</a></h3>
			</div>
			<div class="grid-item-gray">
			</div>
		</div>
		<div class="grid-container-two">
			<div class="grid-item-yellow-first">
				<h1 class="yellow">Digital Art Gallery</h1>
			</div>
			<div class="grid-item-white-first">

				<form class="white" th:action="@{/register}" method="POST">
					<h1 class="white" id="title" th:text="#{register.title}">reg mock</h1>
					<ul class="white">
						<li>
							<div class="white" th:text="#{name.message}">Name:</div>
							<div class="white"><label class="white">
									<input class="white" type="text" th:field="${user.nome}"
										th:placeholder="#{placeholder-name}"></label>
							</div>
							<div class="white">
								<span th:if="${#fields.hasErrors('${user.nome}')}" th:errors="${user.nome}" class="red">
								</span>
							</div>
						</li>
						<li>
							<div class="white" th:text="#{surname.message}">Surname:</div>
							<div class="white"><label class="white">
									<input class="white" type="text" th:field="${user.cognome}"
										th:placeholder="#{placeholder-surname}"></label></div>
							<div class="white">
								<span th:if="${#fields.hasErrors('${user.cognome}')}" th:errors="${user.cognome}"
									class="red"></span>
							</div>
						</li>
						<li>
							<div class="white" th:text="#{username.message}">Username:</div>
							<div class="white"><label class="white"><input class="white"
										th:field="${credentials.username}" type="text"
										th:placeholder="#{placeholder-username}"></label></div>
							<div class="white">
								<span th:if="${#fields.hasErrors('${credentials.username}')}"
									th:errors="${credentials.username}" class="red"></span>
							</div>
						</li>
						<li>
							<div class="white" th:text="#{password.message}">Password:</div>
							<div class="white"><label class="white"><input class="white" id="myInput"
										th:field="${credentials.password}" type="password"
										th:placeholder="#{placeholder-password}"></label></div>
							<div class="white"><label class="white">
									<input type="checkbox" onclick="showPassword()" th:text="#{showpassword}"></label>
								<script>
									function showPassword() {
										var x = document.getElementById("myInput");
										if (x.type === "password") {
											x.type = "text";
										} else {
											x.type = "password";
										}
									}
								</script>
								<div class="white">
									<span th:if="${#fields.hasErrors('${credentials.password}')}"
										th:errors="${credentials.password}" class="red"></span>
								</div>
							</div>
						</li>
					</ul>
					<div class="white">
						<div class="white">
							<button class="white" type="submit" th:text="#{register.button}">Login</button>
						</div>
					</div>
				</form>
			</div>
			<div class="grid-item-blue">

			</div>
		</div>

		<div class="grid-container-three">
			<div class="grid-subcontainer-one">
				<div class="grid-item-yellow-second">
				</div>
				<div class="grid-item-black-sub">
				</div>
				<div class="grid-item-white-third-first">
				</div>
			</div>
			<div class="grid-subcontainer-two">
				<div class="grid-item-black">
				</div>
				<div class="grid-item-white">
				</div>
			</div>
			<div class="grid-item-lightblue">
				<div class="lightblue">
					<br>
					<br>
					<br>
					<br>
					Designed and built by <br>
					<a class="lightblue link-on-lightblue" href="https://www.kevinsantodonato.it/">Kevin Santodonato</a>
					<br>
					and <br>
					<a class="lightblue link-on-lightblue" href="https://www.davidetedesco.it/">Davide Tedesco</a>
				</div>
			</div>
		</div>

	</div>
</body>

</html>