<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/register.css" rel="stylesheet">
	<title>Digital Art Gallery - Register page</title>
</head>

<body>
	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-red">
				<h3 class="red"><a class="red" ,"link" th:href="@{/index}">Home</a></h3>
			</div>
			<div class="grid-item-gray">
			</div>
		</div>
		<div class="grid-container-two">
			<div class="grid-item-yellow-first">
				<h1 class="yellow">Digital Art Gallery</h1>
			</div>
			<div class="grid-item-white-first">

				<form class="white" th:action="@{/login}" method="POST">
					<h1 class="white" id="title" th:text="#{login.title}">Login</h1>
					<ul class="white" , "login-form">
						<li>
							<div class="white">Name:</div>
							<div class="white"><label class="white">
									<input class="white" type="text" required th:field="${user.nome}"
									th:placeholder="#{placeholder-name}"></label></div>
						</li>
						<li>
							<div class="white">Surname:</div>
							<div class="white"><label class="white">
									<input class="white" type="text" required th:field="${user.cognome}"
									th:placeholder="#{placeholder-surname}"></label></div>
						</li>
						<li>
							<div class="white" th:text="#{username.message}">Username:</div>
							<div class="white"><label class="white"><input class="white" name="username" type="text"
										th:placeholder="#{placeholder-username}" required></label></div>
						</li>
						<li>
							<div class="white" th:text="#{password.message}">Password:</div>
							<div class="white"><label class="white"><input class="white" id="myInput" name="password"
										type="password" th:placeholder="#{placeholder-password}" required></label></div>
							<div class="white"><label class="white">
									<input type="checkbox" onclick="showPassword()">Show Password</label>
								<script>
									function showPassword() {
										var x = document.getElementById("myInput");
										if (x.type === "password") {
											x.type = "text";
										} else {
											x.type = "password";
										}
									}
								</script>
							</div>
						</li>
					</ul>
					<div class="white">
						<div class="white">
							<button class="white" ,"button" type="submit" th:text="#{login.button}">Login</button>
						</div>
					</div>

			</div>
			<div class="grid-item-blue">
				<h2 class="blue">Contacts</h2>
				<div class="blue">
					E-mail:<a class="blue" href="mailto:info@digitalartgallery.com">info@digitalartgallery.com</a>
				</div>
				<div class="blue">Phone: 0044 0848 44 66 88</div>
				<div class="blue">London - New York - Genève - Milan</div>
				<div class="blue">VAT ID: 86334519757</div>
			</div>
		</div>

		<div class="grid-container-three">
			<div class="grid-subcontainer-one">
				<div class="grid-item-yellow-second">
				</div>
				<div class="grid-item-black-sub">
				</div>
				<div class="grid-item-white-third-first">
				</div>
			</div>
			<div class="grid-subcontainer-two">
				<div class="grid-item-black">
				</div>
				<div class="grid-item-white">
				</div>
			</div>
			<div class="grid-item-lightblue">
				<div class="lightblue">
					Made by <br>
					Kevin Santodonato <br>
					& <br>
					Davide Tedesco
				</div>
			</div>
		</div>

	</div>
</body>

</html>