<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/welcomePage.css" rel="stylesheet">
	<title>Welcome Page</title>
</head>

<body>
	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-red">
				<div class="red">
					<h4 class="red">
						<a class="red" th:href="@{/index}">Logout</a>
						<h4>
				</div>
			</div>
			<div class="grid-item-yellow-first">
			</div>
		</div>
		<div class="grid-container-two">
			<div class="grid-item-white-first">
				<br>
				<h1 class="white" ,"header">
					Digital Art Gallery
				</h1>
			</div>
			<div class="grid-item-blue">
				<div class="blue">
					<a class="blue" th:href="@{/authors}"> Authors</a>
				</div>

				<div class="blue">
					<a class="blue" th:href="@{/collections}">Collections</a>
				</div>

				<div class="blue">
					<a class="blue" th:href="@{/artworks}">Artworks</a>
				</div>
			</div>
			<div class="grid-item-gray">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h4 class="gray">
					<a class="gray" th:href="@{/removeUser}">Cancella account</a>
				</h4>
			</div>

		</div>
		<div class="grid-container-three">
			<div class="grid-item-yellow-last">
				<div id="welcome">
					<br>
					<br>
					<br>
					<br>
					<br>
					Welcome back User
				</div>
			</div>
			<div class="grid-item-white-second">
				<div class="white">
					Made by <br>
					Kevin Santodonato <br>
					& <br>
					Davide Tedesco
				</div>
			</div>
		</div>

</body>

</html>