<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/welcomePage.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery - Welcome Page</title>
</head>

<body>
	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-red">
				<div class="red">
					<br>
					<br>
					<h4 class="red">
						<a class="red link-on-red" th:href="@{/index}" th:text="#{logout}">Logout</a>
						<h4>
				</div>
			</div>
			<div class="grid-item-yellow-first">
			</div>
		</div>
		<div class="grid-container-two">
			<div class="grid-item-white-first">
				<br>
				<h1 class="white">
					Digital Art Gallery
				</h1>
			</div>
			<div class="grid-item-blue">

				<br>
				<h2 class="blue" th:text="#{welcomepage.message}"></h2>
				<br>
				<div class="blue">
					<a class="blue link-on-blue" th:href="@{/authors}" th:text="#{authors.message}"> Authors</a>
				</div>
				<br>
				<div class="blue">
					<a class="blue link-on-blue" th:href="@{/collections}"
						th:text="#{collections.message}">Collections</a>
				</div>
				<br>
				<div class="blue">
					<a class="blue link-on-blue" th:href="@{/artworks}" th:text="#{artworks.message}">Artworks</a>
				</div>
			</div>
			<div class="grid-item-gray">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>

		</div>
		<div class="grid-container-three">
			<div class="grid-item-yellow-last">
				<div id="welcome" class="yellow">
					<br>
					<br>
					<br>
					<br>
					<br>
					<!--<div class="yellow" th:text="#{welcomeback.message} + ' ' + ${user.nome}">welcome back User</div>-->
					<div class="yellow" th:text="#{welcomeback.message}">welcome back User</div>
                    <span class="yellow" sec:authentication="name"></span>
				</div>
			</div>
			<div class="grid-item-white-second">
				<div class="white">
					<br>
					<br>
					<br>
					<br>
					Designed and built by <br>
					<a class="white link-on-white" href="https://www.kevinsantodonato.it/">Kevin Santodonato</a>
					<br>
					& <br>
					<a class="white link-on-white" href="https://www.davidetedesco.it/">Davide Tedesco</a>
				</div>
			</div>
		</div>

</body>

</html>