<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/confirmdeletion.css" rel="stylesheet">
	<title>Digital Art Gallery - Author deletion confirm page</title>
</head>

<body>

	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-gray">
			</div>
			<div class="grid-item-blue">
			</div>
		</div>

		<div class="grid-container-two">
			<div class="grid-item-red">
				<div class="red">
					<span class="red" th:text="#{confirmremoveauthor.message}+' '+${author.nome}+' '+${author.cognome}">Nome Autore</span>
				</div>
				<div class="red"> <a class="red" th:href="@{'/admin/removeAuthor' + '/' + ${author.id}}">Remove</a></div>
				<div class="red"> <a class="red" th:href="@{'/admin/showContent/authors}">Abort</a></div>
			</div>
			<div class="grid-item-white">
			</div>
		</div>

		<div class="grid-container-three">
			<div class="grid-item-blue">
			</div>
			<div class="grid-item-yellow">
			</div>
		</div>

	</div>

</body>

</html>