<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/my-style.css" rel="stylesheet">
	<title>Digital Art Gallery</title>
</head>
<body>
	<h1>Edit artwork</h1>
	<form th:action="@{/admin/editArtwork/{id}(id=${artwork.id})}" method="post"
		th:object="${artwork}" enctype="multipart/form-data">
		
		<table>
			<tr>
				<td>Nome:</td>
				<td><label><input type="text" required
						th:field="*{nome}"></label></td>
			</tr>
			<tr>
				<td></td>
				<td th:text="'Previous date ' + ${date} "></td>
			</tr>
			<tr>
				<td>Data di realizzazione:</td>
				<td><label><input type="text" th:placeholder="yyyy-MM-dd"
						required name="date" ></label></td>
			</tr>
			
			
			
			
			<tr>
				<td>Descrizione</td>
				<td><textarea  required th:field="*{descrizione}" ></textarea></td>
			</tr>
			<!-- <tr>
				<td>Immagine</td>
				<td><label><input type="file"
						accept="image/png, image/jpeg, image/svg"
						name="image"></label></td>
			</tr> -->
			<tr>
				<td><label th:for="selettore2" th:text="#{chef.message}">
				</label></td>
				<td><select id="selettore2" th:field="*{collezione}">
						<option th:each="collection : ${collections}" th:value="${collection.id}"
							th:text="${collection.nome} "></option>
				</select></td>
			</tr>
		</table>

		<div>
			<span>
				<button type="submit" th:text="#{register.button}">Register</button>
			</span>
		</div>
	</form>
</body>
</html>