<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/my-style.css" rel="stylesheet">
<title>Digital Art Gallery</title>
</head>
<body>
	<h1>Edit collection</h1>
	<form th:action="@{/admin/editCollection}" method="post"
		th:object="${collection}" >
		<table>
			<tr>
				<td>Nome:</td>
				<td><label><input type="text" required
						th:field="*{nome}"></label></td>
			</tr>
			<tr>
				<td>Descrizione</td>
				<td><label><input type="text" th:field="*{descrizione}"></label></td>
			</tr>
			 <tr ><!-- th:if="${!artworks.isEmpty()}" -->

				<td><label for="checklist1">Opere possibili:</label></td>
				<td id="checklist1" th:each="artwork : ${artworks}"><input
					type="checkbox" name="artworkList" th:value="${artwork.id}"
					th:text="${artwork.nome}" checked="checked"/></td>
			</tr>
			
			<tr>

				<td><label for="checklist1">Opere presenti:</label></td>
				<td id="checklist1" th:each="artwork : *{opere}"><input
					type="checkbox" name="artworkList2" th:value="${artwork.id}"
					th:text="${artwork.nome}" checked="checked"/></td>
			</tr> 
		</table>

		<div>
			<span>
				<button type="submit" th:text="#{register.button}">Register</button>
			</span>
		</div>
	</form>
</body>
</html>