<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link href="/css/insertion.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery - Artwork insertion</title>
</head>

<body>
	<div class="grid-megacontainer">
		<div class="grid-container-one">
			<div class="grid-item-white">
			<br>
				<div class="white"><a class="white link-on-white" th:href="@{/default}">Personal page</a></div>
			</div>
			<div class="grid-item-gray">
			</div>
		</div>

		<div class="grid-container-two">
			<div class="grid-item-red">
			</div>
			<div class="grid-item-blue">
				<h1 class=blue>Insert artwork</h1>
				<form class="blue" th:action="@{/admin/insertArtwork}" method="post" th:object="${artwork}"
					enctype="multipart/form-data">
					<div class="blue">
						<div th:if="${#fields.hasGlobalErrors()}">
							<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
						</div>
					</div>
					<div class="blue">
						<div class="blue">
							<div class="blue">Nome:</div>
							<div class="blue"><label><input type="text" th:field="*{nome}"></label>
							</div>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="red"></span>
						</div>
						<div class="blue">
							<div class="blue">Data di realizzazione:</div>
							<div class="blue"><label><input type="text" th:placeholder="yyyy-MM-dd" 
										name="date"></label></div>
							</div>
							<div class="blue">
								<div class="blue">Descrizione</div>
								<div class="blue"><textarea class="blue" rows="3" cols="16"
										th:field="*{descrizione}"></textarea></div>
								<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" class="red"></span>
							</div>
							<div class="blue">
								<div class="blue">Immagine</div>
								<div class="blue">dimensione massima del file 10 MB</div>
								<div class="blue"><label class="blue"><input class="blue input" type="file"
											accept="image/png, image/jpeg, image/svg, image/jpg, image/tiff"
											name="image" ></label></div>
							</div>
							<div class="blue">

								<div class="blue"><label class="blue" th:for="selettore1" th:text="#{artwork.message}">
									</label></div>
								<div class="blue"><select class="blue" id="selettore1" th:field="*{autore}">
										<option class="blue" th:each="author : ${authors}" th:value="${author.id}"
											th:text="${author.nome} + ' ' + ${author.cognome}"></option>
									</select></div>
							</div>
						</div>
					<br>
					<div class="blue">
						<div class="blue">
							<button class="blue button" type="submit" th:text="#{register.button}">Register</button>
						</div>
					</div>
				</form>
			</div>
			<div class="grid-item-yellow">
			</div>
		</div>

		<div class="grid-container-three">
			<div class="grid-item-yellow">
			</div>
			<div class="grid-item-white">
				<div class="white">
					<br>
					<br>
					<br>
					Designed and built by <br>
					<a class="white link-on-white" href="https://www.kevinsantodonato.it/">Kevin Santodonato</a>
					<br>
					& <br>
					<a class="white link-on-white" href="https://www.davidetedesco.it/">Davide Tedesco</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>