<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/my-style.css" rel="stylesheet">
	<link rel="icon" href="/images/painting-art.svg" type="image/x-icon">
	<title>Digital Art Gallery</title>
</head>
<body>
	<div th:text="${collection.nome}"></div>
	<span><a th:href="@{/admin/showContent/collections}">Lista delle collezioni</a></span>
	<span class="yellow"><a class="yellow" th:href="@{'/admin/editCollection' + '/' + ${collection.id}}">Edit</a></span>
</body>
</html>