<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/my-style.css" rel="stylesheet">
	<title>Digital Art Gallery</title>
</head>
<body>
	<h1>Artworks</h1>
	<div><a th:href="@{/admin/insertArtwork}">Insert a new artwork</a></div>
	<div th:each="artwork : ${artworks}">
		 <span th:text="${artwork.nome}">Nome opera</span> 
		<span ><a th:href="@{'/admin/confirmArtworkDeletion' + '/' + ${artwork.id}}">Remove</a></span>
		<span><a th:href="@{'/admin/editArtwork' + '/' + ${artwork.id}}">Edit</a></span>
		<img th:alt="${artwork.immagine}" th:src="@{'/images' + '/' +  ${artwork.immagine}}">
	</div>
</body>
</html>