<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/my-style.css" rel="stylesheet">
	<title>Digital Art Gallery</title>
</head>
<body>
Pluto

	<div>
		<a th:href="@{/admin/showContent/users}"> Users</a>
	</div>
	
	<div>
		<a th:href="@{/admin/showContent/authors}"> Authors</a>
	</div>
	
	<div>	
		<a th:href="@{/admin/showContent/collections}"> Collections</a>
	</div>
	
	<div>
		<a th:href="@{/admin/showContent/artworks}"> Artworks</a>
	</div>
</body>
</html>