:root{
--yellow-mondrian: rgb(254, 197, 93);
--red-mondrian: rgb(231,0,30);
--blue-mondrian: rgb(25, 84, 140);
--gray-mondrian: rgb(199,199,198);
--lightblue-mondrian: rgb(170, 216, 228);
--gray-mondrian: rgb(199,199,198);

}

@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

@font-face {
    font-family: 'new_yorkerregular';
    src: url('ny_irvin-webfont.woff2') format('woff2'),
         url('ny_irvin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dryhtenregular';
    src: url('dryhtenregular-webfont.woff2') format('woff2'),
         url('dryhtenregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	background-color: black;
  	margin: 0;
  	padding: 0;
}

body{
	color: white;
	/*font-family: 'Potta One', cursive;*/
   	font-family: 'IM Fell English', serif;
    /*font-family: 'new_yorkerregular';*/
    /*font-family: 'dryhtenregular';*/
    /*overflow: hidden;*/
}

p{
	font-size: 15pt;
}

.grid-megacontainer{
	display: grid;
  grid-template-columns: 8% 65% 25%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  height: calc(100vh);
}

.grid-container-one{
	display: grid;
  grid-template-rows: 75% 22%;
  grid-row-gap: calc(0.03*(100vh));
}

.grid-container-two{
	display: grid;
  	grid-template-rows: 5% 61%  28%;
    grid-row-gap: calc(0.03*(100vh));
}

.grid-container-three{
	display: grid;
  	grid-template-rows: 35% 62%;
  	grid-row-gap: calc(0.03*(100vh));
}

.grid-item-red{
  background-color: var(--red-mondrian);
}

.grid-item-black-sub{
  background-color: black;
}

.grid-item-blue{
  background-color: var(--blue-mondrian);
  text-align: center;
  align-items: center;
}

.grid-item-gray{
  background-color: var(--gray-mondrian);
  text-align: center;
  color: black;
}

.grid-item-white-first{
  background-color: white;
  color: black;
  text-align: center;
}

.grid-item-white-third-first{
  background-color: white;
  color: black;
  text-align: center;
}


.grid-item-white{
  background-color: white;
  color: black;
  text-align: center;
}

.grid-item-yellow{
  background-color: var(--yellow-mondrian);
  text-align: center;
  overflow: hidden;
}

.yellow-paragraph{
  background-color: var(--yellow-mondrian);
  overflow: scroll;
}

.grid-item-lightblue{
  background-color: var(--lightblue-mondrian);
  text-align: center;
}

.grid-item-gray{
  background-color: var(--gray-mondrian);
  text-align: center;
  color: black;
}


.red{
  background-color: var(--red-mondrian);
}


.white{
  color: black;
  background-color: white;
}

.gray{
  background-color: var(--gray-mondrian);
}

.blue{
  background-color: var(--blue-mondrian);
  color: white;
}

.blue-table{
  background-color: var(--blue-mondrian);
}

.yellow{
	  background-color: var(--yellow-mondrian);

}

h1{
  font-size: calc(0.06*100vh);
}

.login-form {
  align-items: center;
}

input {
	font-family: 'IM Fell English', serif;
   	background-color: white;
   	}

button{
 	border-radius: 10%;
	font-family: 'IM Fell English', serif;
   	background-color: white;
 }

ul {
  list-style-type: none;
}


.link-on-red {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 2px 2px;
   overflow: hidden;
   color: #fff;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link-on-red::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-color: white;
   transition: transform .30s ease-out;
}

.link-on-red:hover { 
   color:var(--red-mondrian);
}
.link-on-red:hover::before {
   transform: translateY(0);
   transition: transform .30s ease-out;
}

.link-on-yellow {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 2px 2px;
   overflow: hidden;
   color: black;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link-on-yellow::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-color: black;
   transition: transform .30s ease-out;
}

.link-on-yellow:hover { 
  color: var(--yellow-mondrian);
}
.link-on-yellow:hover::before {
   transform: translateY(0);
   transition: transform .30s ease-out;
}

.link-on-blue {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 2px 2px;
   overflow: hidden;
   color: #fff;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link-on-blue::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-color: white;
   transition: transform .30s ease-out;
}

.link-on-blue:hover { 
  color: var(--blue-mondrian);
}
.link-on-blue:hover::before {
   transform: translateY(0);
   transition: transform .30s ease-out;
}

.link-on-lightblue {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 2px 2px;
   overflow: hidden;
   color: black;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link-on-lightblue::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-color: black;
   transition: transform .30s ease-out;
}

.link-on-lightblue:hover { 
  color: var(--lightblue-mondrian);
}
.link-on-lightblue:hover::before {
   transform: translateY(0);
   transition: transform .30s ease-out;
}

.link-on-white {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 2px 2px;
   overflow: hidden;
   color: black;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link-on-white::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-color: black;
   transition: transform .30s ease-out;
}

.link-on-white:hover { 
  color: white;
}
.link-on-white:hover::before {
   transform: translateY(0);
   transition: transform .30s ease-out;
}

.link-on-gray {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 2px 2px;
   overflow: hidden;
   color: black;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link-on-gray::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-color: black;
   transition: transform .30s ease-out;
}

.link-on-gray:hover { 
  color: var(--gray-mondrian);
}
.link-on-gray:hover::before {
   transform: translateY(0);
   transition: transform .30s ease-out;
}